<!-- 继承layout父模板 -->
{% extends 'base.html' %}

<!-- 重载标题块 -->
<title>
  {% block title %}仪表盘{% endblock title %}
</title>

{% block headlist %}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>欢迎您，{{ username }}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="{{ url_for('index') }}">首页</a>
      </li>
    </ol>
  </div>
</div>
{% endblock headlist %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {
    $("#navli-1").addClass("active");
  })
</script>
{% endblock scripts %}