<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>登录</title>
</head>

<body>
  {% for msg in get_flashed_messages() %}
  <p class="flask_msg" style="color: royalblue;">
    {{ msg }}
  </p>
  {% endfor %}

  <form method="POST">
    
    <div>
      {{ form.account.label }}
      {{ form.account }}
      {% for err in form.account.errors %}
      <div>
        <font style="color: red;">{{ err }}</font>
      </div>
      {% endfor %}
    </div>
    <div>
      {{ form.pwd.label }}
      {{ form.pwd }}
      {% for err in form.pwd.errors %}
      <div>
        <font style="color: red;">{{ err }}</font>
      </div>
      {% endfor %}
    </div>
    <div>
      {{ form.submit }}
      {{ form.csrf_token }}
    </div>
  </form>
  <a href="{{ url_for('register') }}"><button>去注册</button></a>
</body>

</html>